  *{
    box-sizing: border-box;

  
    }

  body {
    
    width: 100%;
    height:1000px;
    background-color: #9df9ef;
  
}

  .Parent {
    background-color: #ffa8B6;
    height: 250px;
    position: relative;
    padding: 25px;
    margin: 10px;
    color: white;
    font-family: sans-serif;
}
  


  .child {
    background-color: #a28089;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    
}

  h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #a28089;
}
  
  /* Simple Responsive Framework. */
  /* Large Screen */
  @media (min-width: 1200px) {
    .Parent1, .Parent2, .Parent3 {
    float: left;
            }
    .Parent1 {
      width: 33.33%
    }

    .Parent2{
      width: 33.33%
    }

    .Parent3{
      width: 33.33%
    }
  
  }
    /* Tablet */
  @media (min-width: 992px) and (max-width: 1199px) {
    .Parent1, .Parent2, .Parent3 {
    float: left;
            }

    .Parent1{
      width: 49%;
      

    } 

    .Parent2{
      width: 49%;
      
      }

    .Parent3{
      width: 98%;
      
    }     
  }
