*{
    box-sizing: border-box;

  
    }


  .container{
    margin: 20px auto;
  }

  .Parent {
    background-color: #ffa8B6;
    height: 250px;
    position: relative;
    padding: 40px;
    color: white;
    font-family: sans-serif;
    border: 2px solid #a28089;
    margin: 5px 5px 5px 5px;
    
}
  

  .child {
    background-color: #a28089;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;

      
   }

.child1 {
    background-color: blue;
  }

  
    .child2 {
    background-color: black;
  }

  .child3 {
    background-color: grey;
  }

.container div {
 
}

  h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #a28089;

}
  
  /* Simple Responsive Framework. */
  /* Large Screen */
  @media (min-width: 992px) {
    .Parent1, .Parent2, .Parent3 {
    float: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    

            }
    .Parent1 {
      width: 33.33%
     
    }

    .Parent2{
      width: 33.33%

       
    }

    .Parent3{
      width: 33.33%

    }
  
  }
    /* Tablet */
  @media (min-width: 768px) and (max-width: 991px) {
    .Parent1, .Parent2, .Parent3 {
    float: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
            }

    .Parent1{
      width: 49%;
      

    } 

    .Parent2{
      width: 49%;
      
      }

    .Parent3{
      width: 98%;
      
    }     
  }
